* {
    font-family: sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:read-only {
    background-color: #f7f7f7;
}

button {
    border: 1px solid #bfbfbf;
    background: #f2f2f2;
    outline-color: rgb(67, 115, 123);
    cursor: pointer;
}

button:hover {
    background: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;
    background: rgba(0, 0, 0, 0.04);
}

.header .logo {
    background-image: url("lbs.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    max-width: 12rem;
    height: 100%;
}

.header .pseudo {
    max-width: 12rem;
    width: 30%;
}

.reset {
    display: flex;
    justify-content: flex-end;
    height: calc(100% - 0.8rem);
    padding: 0.4rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}


@media only screen and (max-width: 900px) {
    .calculator {
        width: 96% !important;
        padding: 0 2% 0 2%;
    }
}

@media only screen and (max-width: 400px) {
    .calculator {
        font-size: 0.8rem;
    }
}

.calculator {
    padding-top: 0.5rem;
    width: 90%;
    height: calc(100% - 3.5rem);
    overflow: auto;
    max-width: 80rem;
    min-width: 300px;
}

@media only screen and (max-width: 750px) {
    .calculator .container {
        display: block !important;
    }
}

.calculator .container {
    display: flex;
    width: 100%;
    margin-bottom: 1.5rem;
}

.calculator .title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.calculator .container .seperator {
    width: 1rem;
}

.calculator .section {
    flex: 1 1 0;
}

.calculator .section .element {
    padding: 0.2rem 0 0.2rem 0;
    display: flex;
    width: 100%;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
}

.calculator .section .element .label {
    width: 60%;
}

.calculator .section .element .input {
    width: 40%;
    display: flex;
}

.calculator .section .element .input.block {
    display: block !important;
}

.calculator .section .element .seperator {
    width: 0.2rem;
}

@media only screen and (max-width: 1200px) {
    .calculator .section .element .input {
        display: block !important;
    }

    .calculator .section .element .seperator {
        height: 0.1rem;
    }
}

.calculator .section .element .input .input-wrapper {
    flex: 1 1 0;
    display: flex;
    height: 1.9rem;
    border-color: #bfbfbf;
}

.calculator .section .element .input .input-wrapper input:focus {
    border: 1px solid rgb(67, 115, 123);
}

.input-wrapper.positive > input:read-only {
    background: #cff5db !important;
    border-color: #9dc7a7 !important;
}

.input-wrapper.neutral > input:read-only {
    background: #f5f1c9 !important;
    border-color: #d4ccaf !important;
}

.input-wrapper.negative > input:read-only {
    background: #f5d1d9 !important;
    border-color: #c7a3a7 !important;
}


.calculator .section .element .input .currency {
    width: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: inherit;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    box-sizing: border-box;
    background: #f2f2f2;
    color: #414141;
}

.calculator .section .input input:not([type='range']) {
    box-sizing: border-box;
    outline: none;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    height: 100%;
    width: calc(100% - 1.7rem);
    text-align: right;
    padding-right: 0.5rem;
}

.slide-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: transparent;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.5rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 1rem;
    background: #43737B;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}